@import './icons.css';
@import './sticky.css';
@import './header.css';

:root {
  --baseFont: 'Inter', sans-serif;
  --primary: #2b79bd;
  --white: #fffffe;
  --grey: #5f6c7b;
  --secondary: #90b4ce;
  --tertiary: #ef4565;
  --blue: #094067;
  --background1: #d8eefe;
  --background2: #242629;
  --backgroundButton: #eaf0f3;
  --buttonBackground: #3da9fc;
  --headline1: 700 4.5rem/5rem var(--baseFont);
  --headline2: 700 4rem/4.75rem var(--baseFont);
  --headline3: 700 2rem/2rem var(--baseFont);
  --headline4: 700 1.5rem/1.649999976158142rem var(--baseFont);
  --button: semi bold 1.125rem/1.6875rem var(--baseFont);
  --caption: 400 0.75rem/1.6875rem Arvo;
  --headline5: 700 1.25rem/1.649999976158142rem var(--baseFont);
  --body1Regular: 400 1.125rem/1.6875rem var(--baseFont);
  --body1Bold: 700 1.125rem/1.6875rem var(--baseFont);
  --body2Regular: 400 0.875rem/1.5rem var(--baseFont);
  --body2Bold: 700 0.875rem/1.6875rem var(--baseFont);
  scroll-behavior: smooth;
}

body {
  font-family: var(--baseFont);
  margin-inline-start: 1.375rem;
  margin-inline-end: 1.375rem;
}
